@mixin details{

	.ch-details-section{
		padding: 10px;
		border-bottom: 1px solid #999;
		background-color: #e6e6e6;

		.v-spacing{
			width: 8px;
            height: 3px;
		}
	}

	.ch-details-content{
		font-size: 12px;
    	margin-top: 0.5em;
    	padding: 10px 6px 12px 10px;
    	background-color: #f6f6f6;
    	border-top: 1px solid #999;
    	border-bottom: 1px solid #999;
    	background-image: url("/VAADIN/themes/chrono/img/bgGrayForm.gif");
    	background-repeat: repeat-x;
        background-position: top;
    }

	.ch-edit-content{
		font-size: 12px;
            	margin-top: 0.5em;
            	padding: 6px 6px 5px 10px;
            	background-color: #fff;
            	border-top: 1px solid #999;
            	border-bottom: 1px solid #999;
            	background-image: url("/VAADIN/themes/chrono/img/bgGray.gif");
            	background-repeat: repeat-x;
                background-position: top;
	}

	.ch-details-fields{

		.v-textfield-tiny{
			height: 20px;
			border-radius: 0px;
		}

		.v-filterselect-tiny {
             height: 20px;
             border-radius: 0px;
        }
		.v-filterselect-tiny [class$="button"]:before {
            content: "\f0d7";
        }

        .v-caption, .v-caption-tiny{
			color: #555;
			font-size: 8pt;
            padding-bottom: 0px;
            font-weight: bold;
        }
	}
	.ch-details-small-labels{
		.v-label{
			color: #555;
            font-size: 8pt;
            font-weight: bold;
		}
	}
	.ch-details-section-title{
    	font-size: 12px;
    	color: #444444;
    	font-family: Arial,Verdana,Helvetica,sans-serif;
        font-weight: bold;
        text-transform: uppercase;
    }

    .ch-details-phones{
    	padding-top: 17px;
    }

    .ch-details-audit{
    	font-size: 8pt;
        color: #555;
        letter-spacing: 0.75px;
    }

}