@mixin icons{

	.v-slot-ch-icon-helmet, .v-slot-ch-icon-settings, .v-slot-ch-icon-log, .v-slot-ch-icon-tag,
	.v-slot-ch-icon-users, .v-slot-ch-icon-users-stats, .v-slot-ch-icon-building,.v-slot-ch-icon-book
	.v-slot-ch-icon-report, .v-slot-ch-icon-home, .v-slot-ch-icon-person
	{
		padding-top: 2px;
	}

	.ch-icon-helmet, .ch-icon-settings, .ch-icon-users, .ch-icon-tag,
	.ch-icon-users-stats, .ch-icon-building, .ch-icon-log, .ch-icon-book,
	.ch-icon-report, .ch-icon-home, .ch-icon-person
	{
		background-image: url("/VAADIN/themes/chrono/img/theme-icons.png");
    	background-repeat: no-repeat;
    	height: 18px !important;
	}

	.ch-icon-helmet	{
		background-position: -36px 0px;
	}

	.ch-icon-settings{
		background-position: -108px 0px;
	}

	.ch-icon-users{
		background-position: -18px -54px;
	}

	.ch-icon-users-stats{
    	background-position: -504px -36px;
    }

    .ch-icon-building{
       	background-position: -432px 0px;
    }

    .ch-icon-log{
   		background-position: -486px -36px;
    }

    .ch-icon-tag{
       	background-position: -378px -36px;
    }

    .ch-icon-book{
      	background-position: -360px -36px;
    }

    .ch-icon-report{
       	background-position: -666px -36px;
     }

    .ch-icon-home{
       	background-position: -288px -36px;
    }
    .ch-icon-person{
		background-position: -324px -54px;
    }

}