$v-unit-size: 32px;

@import "../valo/valo";

$v-font-family: Arial, Verdana,  sans-serif;
$view-padding: round($v-unit-size / 1.5) !default;


@mixin chrono {

    @include valo;

    .ch-header{
        background: #fff url("img/bg.jpg") no-repeat 50% 0%;
        border-bottom: 1px solid #DADADA;;
    }

    .ch-branding{

        padding-left: 160px;
        padding-top: 15px;
        padding-bottom: 30px;

        .v-spacing {
            width: 40px;
        }
    }

    .ch-main-menu-wrapper{
        background-color: #1a407d;
    }

    .ch-main-menu{
        background-color: #1a407d;
        .v-menubar-menuitem-caption{
            color: #fff;
            font-size: 13px;
        }
        .v-menubar-menuitem-selected {
            background-image: none;
            background-color: #246DF3;
        }
    }

    .v-menubar-popup {
        padding: 0;
    }

    .v-menubar-submenu {
        padding: $v-selection-overlay-padding-vertical $v-selection-overlay-padding-horizontal;
    }

    .ch-lead-panel{
        .v-panel-caption{
            font-size: 32px;
            color: #197de1 !important;
            border-bottom: 1px solid #197de1 !important;
            padding-bottom: 10px !important;
        }

    }

    .ch-sub-panel{
        .v-panel-caption{
            font-size: 22px;
            color: #197de1 !important;
        }
    }

    .ch-footer{
        border-top: 1px solid #DADADA;
        font-size: 11px;
    }

    .ch-title{
        .v-caption{
            color: #197de1;
            font-size: 16px;
        }
    }

    .ch-title-small{
        .v-caption{
            color: #197de1;
            font-size: 12px;
       	}
    }

    .ch-title-plain{
        .v-caption{
            color: #197de1;
            font-size: 16px;
        }
    }

    .v-slot-ch-title-plain{
       	height: 18px !important;
       	text-align: right;
    }

    .v-slot-ch-title-small{
        height: 16px !important;
        padding-top: 10px;
        padding-bottom: 0px;
        border-bottom: 1px solid #197de1;
        margin-bottom: 10px;
    }

    .v-slot-ch-title{
        height: 25px;
        padding-top: 10px;
        padding-bottom: 4px;
        border-bottom: 1px solid #197de1;
        margin-bottom: 10px;
    }

    .ch-result-panel{
        .v-panel-caption{
            font-size: 14px;
            border-bottom: 1px solid  #197de1 !important;
            margin-bottom: 10px !important;
            color: #197de1 !important;
        }
    }

    .v-slot-ch-result-title{
        padding-left: 50px;
        padding-right: 50px;
    }

    .v-caption-ch-result-title{
        font-size: 14px;
        border-bottom: 1px solid  #197de1 !important;
        margin-bottom: 10px !important;
        color: #197de1 !important;
    }

    .ch-popup-button{
        background-image: none;
        box-shadow: none;
        background-color: #fff;
        text-align: right;

        .v-button-caption{
            color: #999;
        }
    }
    .ch-compact-form{
        .v-formlayout-captioncell{
            text-align: right;
            padding-left: 0px !important;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }
        .v-formlayout-errorcell, .v-formlayout-contentcell{
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }
    }

    .sparks {
        @include valo-panel-style;
        margin-bottom: round($view-padding / 3);

        @include width-range($max: 680px) {
            .spark {
                width: 50%;
            }
            .spark:nth-child(2n+1) {
                border-left: none;
            }
            .spark:nth-child(n+3) {
                border-top: valo-border($strength: 0.3);
            }
        }

        @include width-range($max: 270px) {
            .spark {
                width: 100%;
                border-left: none;
                border-top: valo-border($strength: 0.3);

                &:first-child {
                    border-top: none;
                }
            }
        }
    }


    .spark {
        float: left;
        text-align: center;
        width: 25%;
        padding: $v-layout-spacing-vertical $v-layout-spacing-horizontal;
        border-left: valo-border($strength: 0.3);
        line-height: 1.35;

        > tbody {
            display: inline-block;
        }

        &:first-child {
            border-left: none;
        }
    }

    .ch-panel-toolbar{
        height: 39px !important;
        padding: 1px 0 1px 21px;
    }
    .ch-panel-content{
        padding: 0 30px 0 30px;
    }

    .v-widget.tokenfield .v-button-link{
        font-size: 11px;
        text-decoration: none;
    }
    .tokentextfield .v-filterselect {
        height: 24px;
        margin-bottom: 3px;
        background: none;
    }

    .ch-window{
        .v-window-header{
            color: #197DE1;
            padding: 3px 12px;
        }
        .v-window-closebox{
            padding: 6px 15px 3px 3px;
        }
        .v-window-maximizebox, .v-window-restorebox {
            padding: 5px 0px 3px 3px;
        }
        .v-window-outerheader{
            border-bottom: 1px solid #dfdfdf;
        }
    }

    .ch-grid .leftcol {
        direction: rtl;
        text-align: right;
        text-overflow: clip;
    }
    .ch-grid .centercol {
        text-align: center;
        font-weight: bold;
    }
    .ch-page-tab{
        background-color: white;
    }
    .ch-page-table{
        background-color: white;

        .v-table-table {
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    }
    .ch-small-margin{
        padding-bottom: 10px;
        padding-top: 10px;
    }
}
